/*@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header nav{
    padding: 1em;
    background-color: snow;
    display: flex;
    text-align: center;
    box-shadow: 0 0 8px 8px whitesmoke;
    border-bottom: 1px solid rgba(0,0,0,.5);
}

header nav .app-tittle{
    flex: 100%;
    margin: auto;
}

main{
    display: flex;
    padding: 0;
    flex-wrap: wrap;
}

main aside, #konten{
    /*box-shadow: 0 0 2px 2px #00d5ff;*/
    display: flex;
}

main aside{
    flex: 20%;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
}

#konten{
    flex: 70%;
}

aside *{
    flex: 20%;
}

#tambah-buku{
    background-color: whitesmoke;
}

.input-wrapper{
    width: 100%;
    margin: 1em auto;
    padding: 0;
}

.input-wrapper label{
    display: block;
    margin: .25em;
}

input[type=text]{}

.input-wrapper input[type=text]{
    width: 90%;
    height: 2em;
    border-radius: .25em;
    outline: none;
    margin: .5em auto;
    /*border: 2px solid rgba(0,213,255, .5);*/
    /*!*on hover*!*/
    /*box-shadow: 0 0 2px 2px rgba(0,213,255, .5);*/
}

.input-wrapper input[type=checkbox]{
    display: inline-block;
    margin: 0;
}

.input-wrapper label[for="is-dibaca"]{
    display: inline-block;
    margin: 0;
}

#pencarian{
    background-color: whitesmoke;
    padding: .5em;
    display: flex;
}

#pencarian *{
    margin: auto .5em;
}

#cari{
    background-color: rgba(219, 219, 219, 1);
    flex: 95%;
    padding: .5em;
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 0 1px 1px transparent;
    border-radius: .25em;
    transition: all .3s;
}

#cari:focus{
    background-color: whitesmoke;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 1px 2px dodgerblue;
}

#go-cari{
    flex: 5%;
    text-align: center;
    padding: 0.25em;
    cursor: pointer;
}

#konten{
    display: flex;
    padding: 0;
}

.bookshelf{
    background-color: rgba(0,213,255, .5);;
    flex: 40%;
    padding: .5em;
}

.bookshelf h1{
    color: royalblue;
    margin-bottom: 1em;
}

.item-buku{
    padding: .25em;
    margin-top: 1em;
    border: 2px solid #00d5ff;
    border-radius: .25em;
}

.judul{
    color: royalblue;
    border-bottom: 2px solid royalblue;
    width: fit-content;
    padding-right: 1em;
}

.item-buku p{
    font-size: .75em;
}













